#### **DATA SCIENCE FINAL PROJECT**
#### **Housing Market: Rent vs. Buy**
#### **Title: Forecasting Housing Outcomes with $250k**
#### **Authors: Amanda Farghli, Fatoumata Drammeh, Khadiza Khanom, Maisha Islam, Sharmin Zaman, Alexandr Voronovich**

In [1]:
#%pip install pandas-datareader
import pandas as pd

In [2]:
%pip install fredapi

Requirement already satisfied: fredapi in c:\users\alexa\appdata\local\programs\python\python313\lib\site-packages (0.5.2)
Requirement already satisfied: pandas in c:\users\alexa\appdata\local\programs\python\python313\lib\site-packages (from fredapi) (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\alexa\appdata\local\programs\python\python313\lib\site-packages (from pandas->fredapi) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\alexa\appdata\roaming\python\python313\site-packages (from pandas->fredapi) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\alexa\appdata\local\programs\python\python313\lib\site-packages (from pandas->fredapi) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\alexa\appdata\local\programs\python\python313\lib\site-packages (from pandas->fredapi) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\alexa\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas->fredapi) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
from fredapi import Fred # Python wrapper made specifically for FRED

In [4]:
import requests # library to talk to ANY REST API (Zillow, Polygon, Finnhub, etc.) except FRED

##### **Data from FRED**
#### **The national 30-year fixed average (Freddie Mac Primary Mortgage Market Survey)**
##### **Mortgage Rate 2015 - 2025**

In [5]:
fred = Fred(api_key='bd2983759a4cf1e15823ed3442667fb4') # it's the key from https://fredaccount.stlouisfed.org/apikey
rates = fred.get_series('MORTGAGE30US', observation_start='2015-01-01') #mortgage rate from 2015 to 2025
df_rates = pd.DataFrame(rates, columns=['Mortgage_Rate']) # DataFrame for the 'rate dat'

In [6]:
df_rates

            Mortgage_Rate
2015-01-08           3.73
2015-01-15           3.66
2015-01-22           3.63
2015-01-29           3.66
2015-02-05           3.59
...                   ...
2025-10-30           6.17
2025-11-06           6.22
2025-11-13           6.24
2025-11-20           6.26
2025-11-26           6.23

[569 rows x 1 columns]

#### **Home Purchase Price (today & forecast)**
#### **FRED data(API key)**

In [7]:
home_price = fred.get_series('CSUSHPISA', observation_start='2015-01-01')

Data_home_price = pd.DataFrame(home_price, columns=['Home Price Index'])

In [8]:
Data_home_price

            Home Price Index
2015-01-01           168.613
2015-02-01           169.106
2015-03-01           169.778
2015-04-01           170.281
2015-05-01           170.863
...                      ...
2025-05-01           327.438
2025-06-01           326.782
2025-07-01           326.591
2025-08-01           326.919
2025-09-01           327.638

[129 rows x 1 columns]