#### **DATA SCIENCE FINAL PROJECT**
#### **Housing Market: Rent vs. Buy**
#### **Title: Forecasting Housing Outcomes with $250k**
#### **Authors: Amanda Farghli, Fatoumata Drammeh, Khadiza Khanom, Maisha Islam, Sharmin Zaman, Alexandr Voronovich**

In [180]:
#%pip install pandas-datareader
import pandas as pd

In [181]:
%pip install fredapi

Requirement already satisfied: fredapi in c:\users\alexa\appdata\local\programs\python\python313\lib\site-packages (0.5.2)
Requirement already satisfied: pandas in c:\users\alexa\appdata\local\programs\python\python313\lib\site-packages (from fredapi) (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\alexa\appdata\local\programs\python\python313\lib\site-packages (from pandas->fredapi) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\alexa\appdata\roaming\python\python313\site-packages (from pandas->fredapi) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\alexa\appdata\local\programs\python\python313\lib\site-packages (from pandas->fredapi) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\alexa\appdata\local\programs\python\python313\lib\site-packages (from pandas->fredapi) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\alexa\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas->fredapi) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [182]:
from fredapi import Fred # Python wrapper made specifically for FRED

In [183]:
import requests # library to talk to ANY REST API (Zillow, Polygon, Finnhub, etc.) except FRED

##### **Data from FRED**
#### **The national 30-year fixed average (Freddie Mac Primary Mortgage Market Survey)**
##### **Mortgage Rate 2015 - 2025**

In [184]:
fred = Fred(api_key='bd2983759a4cf1e15823ed3442667fb4') # it's the key from https://fredaccount.stlouisfed.org/apikey
rates = fred.get_series('MORTGAGE30US', observation_start='2015-01-01') #mortgage rate from 2015 to 2025
df_rates = pd.DataFrame(rates, columns=['Mortgage Rate']) # DataFrame for the 'rate dat'

In [185]:
df_rates.index.name = 'Date'

In [186]:
df_rates

            Mortgage Rate
Date
2015-01-08           3.73
2015-01-15           3.66
2015-01-22           3.63
2015-01-29           3.66
2015-02-05           3.59
...                   ...
2025-10-30           6.17
2025-11-06           6.22
2025-11-13           6.24
2025-11-20           6.26
2025-11-26           6.23

[569 rows x 1 columns]

#### **Home Purchase Price (today & forecast)**
#### **FRED data(API key)**
##### **GET HOME PRICE INDEX (CSUSHPISA — 2015-2025)**

In [187]:
home_price_index = fred.get_series('CSUSHPISA', observation_start='2015-01-01')

Data_home_price_index = pd.DataFrame(home_price_index, columns=['Home Price Index'])

In [188]:
Data_home_price_index.index.name = "Date"

In [189]:
Data_home_price_index

            Home Price Index
Date
2015-01-01           168.613
2015-02-01           169.106
2015-03-01           169.778
2015-04-01           170.281
2015-05-01           170.863
...                      ...
2025-05-01           327.438
2025-06-01           326.782
2025-07-01           326.591
2025-08-01           326.919
2025-09-01           327.638

[129 rows x 1 columns]

#### **GET HOME PRICE $**

In [190]:
price_in_dollars = fred.get_series('MSPUS', observation_start='2015-01-01')

In [191]:
Data_home_price_in_dollars = pd.DataFrame(price_in_dollars, columns=['Dollar Home Price $'])

In [192]:
Data_home_price_in_dollars.index.name = 'Date'

In [193]:
#print(Data_home_price_in_dollars.head())
Data_home_price_in_dollars

            Dollar Home Price $
Date
2015-01-01             289200.0
2015-04-01             289100.0
2015-07-01             295800.0
2015-10-01             302500.0
2016-01-01             299800.0
2016-04-01             306000.0
2016-07-01             303800.0
2016-10-01             310900.0
2017-01-01             313100.0
2017-04-01             318200.0
2017-07-01             320500.0
2017-10-01             337900.0
2018-01-01             331800.0
2018-04-01             315600.0
2018-07-01             330900.0
2018-10-01             322800.0
2019-01-01             313000.0
2019-04-01             322500.0
2019-07-01             318400.0
2019-10-01             327100.0
2020-01-01             329000.0
2020-04-01             317100.0
2020-07-01             327900.0
2020-10-01             338600.0
2021-01-01             355000.0
2021-04-01             367800.0
2021-07-01             395200.0
2021-10-01             414000.0
2022-01-01             413500.0
2022-04-01             437700.0
2022-07-01             438000.0
2022-10-01             442600.0
2023-01-01             429000.0
2023-04-01             418500.0
2023-07-01             435400.0
2023-10-01             423200.0
2024-01-01             426800.0
2024-04-01             414500.0
2024-07-01             415300.0
2024-10-01             419300.0
2025-01-01             423100.0
2025-04-01             410800.0

In [194]:
all_data = pd.concat([Data_home_price_index,Data_home_price_in_dollars, df_rates], axis=1).dropna()

In [195]:
#all_data.tail()
all_data

            Home Price Index  Dollar Home Price $  Mortgage Rate
Date
2015-10-01           174.767             302500.0           3.85
2020-10-01           229.665             338600.0           2.88
2021-04-01           249.037             367800.0           3.18
2021-07-01           262.447             395200.0           2.98