Started off with only one County, finding all the column names and correct ways to get the specific dollar amounts.

In [106]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np

url='https://livingwage.mit.edu/counties/'

start=36001
end=36123
codes=[]
for i in range(start, end+1, 2):
    codes.append(str(i))

r=requests.get('https://livingwage.mit.edu/counties/36001')
html_doc=r.text
soup=BeautifulSoup(html_doc)

expenseTable=soup.find_all(class_='results_table table-striped expense_table')[0]
col_names=[]

for col_name in expenseTable.find_all(class_='text'):
    col_names.append(col_name.text)
print(col_names)

['Food', 'Child Care', 'Medical', 'Housing', 'Transportation', 'Civic', 'Internet & Mobile', 'Other', 'Required annual income after taxes', 'Annual taxes', 'Required annual income before taxes']

Scraping the data from all counties using the codes as the endpoints.

In [107]:
requestPerCounty=[]
for code in codes:
    requestPerCounty.append(BeautifulSoup(requests.get('https://livingwage.mit.edu/counties/'+code).text))

Extracting all the dollarAmounts for each county. Only fousing on the column with one Adult and no children.

In [108]:
tablePerCounty=[]
for request in requestPerCounty:
    tablePerCounty.append(request.find_all(class_='results_table table-striped expense_table')[0])

dollarAmount=[]
for table in tablePerCounty:
    total=[]
    for  trow in table.find_all('tr')[2:]:
        total.append(trow.findAll('td')[1].text.strip())
    dollarAmount.append(total)

C:\Users\fatou\AppData\Local\Temp\ipykernel_53556\2205219480.py:9: DeprecationWarning: Call to deprecated method findAll. (Replaced by find_all) -- Deprecated since version 4.0.0.
  total.append(trow.findAll('td')[1].text.strip())

In [109]:
nys_counties = ["Albany", "Allegany", "Bronx", "Broome", "Cattaraugus", "Cayuga", "Chautauqua", "Chemung", "Chenango", "Clinton", "Columbia", "Cortland", 
                "Delaware", "Dutchess", "Erie", "Essex", "Franklin", "Fulton", "Genesee", "Greene", "Hamilton", "Herkimer", "Jefferson", "Kings", "Lewis", 
                "Livingston", "Madison", "Monroe", "Montgomery", "Nassau", "New York", "Niagara", "Oneida", "Onondaga", "Ontario", "Orange", "Orleans", 
                "Oswego", "Otsego", "Putnam", "Queens", "Rensselaer", "Richmond", "Rockland", "St. Lawrence", "Saratoga", "Schenectady", "Schoharie", 
                "Schuyler", "Seneca", "Steuben", "Suffolk", "Sullivan", "Tioga", "Tompkins", "Ulster", "Warren", "Washington", "Wayne", "Westchester", 
                "Wyoming", "Yates"]

Creating the data frame and csv file for future analysis.

In [117]:
data=np.array(dollarAmount)
df=pd.DataFrame(data, columns=col_names)
df['County']=nys_counties
df=df.set_index('County')
pd.set_option('display.max_rows', None)  

df.to_csv('dataFile.csv')

df

,Food,Child Care,Medical,Housing,Transportation,Civic,Internet & Mobile,Other,Required annual income after taxes,Annual taxes,Required annual income before taxes
County,,,,,,,,,,,
Albany,"$4,599",$0,"$3,658","$13,098","$9,077","$3,535","$1,452","$4,566","$39,985","$7,861","$47,846"
Allegany,"$4,279",$0,"$3,269","$8,435","$10,833","$3,535","$1,559","$4,566","$36,478","$6,930","$43,408"
Bronx,"$4,599",$0,"$4,380","$21,130","$4,495","$3,535","$1,350","$4,566","$44,054","$8,941","$52,995"
Broome,"$4,439",$0,"$3,714","$10,472","$9,094","$3,535","$1,435","$4,566","$37,254","$7,136","$44,390"
Cattaraugus,"$4,040",$0,"$3,269","$8,833","$10,277","$3,535","$1,366","$4,566","$35,886","$6,773","$42,659"
Cayuga,"$4,325",$0,"$3,714","$9,881","$10,304","$3,535","$1,478","$4,566","$37,803","$7,282","$45,085"
Chautauqua,"$4,222",$0,"$3,269","$8,279","$9,685","$3,535","$1,366","$4,566","$34,922","$6,517","$41,440"
Chemung,"$4,234",$0,"$3,714","$11,568","$9,798","$3,535","$1,413","$4,566","$38,829","$7,554","$46,383"
Chenango,"$3,925",$0,"$3,662","$9,086","$10,360","$3,535","$1,435","$4,566","$36,569","$6,954","$43,524"
Clinton,"$4,382",$0,"$3,662","$11,387","$10,179","$3,535","$1,495","$4,566","$39,207","$7,654","$46,861"
Columbia,"$4,530",$0,"$3,658","$14,111","$11,129","$3,535","$1,479","$4,566","$43,008","$8,663","$51,670"
Cortland,"$4,176",$0,"$3,714","$10,797","$10,278","$3,535","$1,469","$4,566","$38,536","$7,476","$46,012"
Delaware,"$4,644",$0,"$4,104","$9,737","$10,401","$3,535","$1,501","$4,566","$38,489","$7,464","$45,953"
Dutchess,"$4,553",$0,"$4,104","$15,298","$11,200","$3,535","$1,405","$4,566","$44,661","$9,102","$53,762"
Erie,"$4,564",$0,"$3,269","$12,016","$8,727","$3,535","$1,463","$4,566","$38,141","$7,371","$45,513"
Essex,"$4,690",$0,"$3,662","$9,978","$11,053","$3,535","$1,670","$4,566","$39,154","$7,640","$46,794"
Franklin,"$4,176",$0,"$3,662","$8,122","$10,709","$3,535","$1,495","$4,566","$36,265","$6,874","$43,139"
Fulton,"$4,085",$0,"$3,658","$9,580","$9,810","$3,535","$1,559","$4,566","$36,793","$7,014","$43,807"
Genesee,"$4,131",$0,"$3,269","$8,977","$11,357","$3,535","$1,431","$4,566","$37,267","$7,139","$44,406"
Greene,"$4,473",$0,"$3,658","$12,207","$11,086","$3,535","$1,566","$4,566","$41,091","$8,154","$49,245"
Hamilton,"$4,462",$0,"$3,662","$12,123","$13,942","$3,535","$1,430","$4,566","$43,720","$8,852","$52,573"
Herkimer,"$4,028",$0,"$3,662","$10,067","$10,337","$3,535","$1,559","$4,566","$37,755","$7,269","$45,024"
Jefferson,"$4,222",$0,"$3,662","$10,713","$9,875","$3,535","$1,533","$4,566","$38,107","$7,362","$45,469"
Kings,"$5,112",$0,"$4,380","$26,251","$4,878","$3,535","$1,527","$4,566","$50,249","$10,584","$60,833"
Lewis,"$3,823",$0,"$3,662","$8,821","$11,853","$3,535","$1,559","$4,566","$37,819","$7,286","$45,105"
Livingston,"$4,279",$0,"$3,473","$10,330","$11,481","$3,535","$1,431","$4,566","$39,095","$7,625","$46,720"
Madison,"$4,268",$0,"$3,662","$10,073","$11,211","$3,535","$1,478","$4,566","$38,793","$7,544","$46,337"
Monroe,"$4,485",$0,"$3,473","$12,754","$9,521","$3,535","$1,350","$4,566","$39,684","$7,781","$47,465"
Montgomery,"$4,165",$0,"$3,658","$9,218","$9,683","$3,535","$1,559","$4,566","$36,385","$6,905","$43,291"
Nassau,"$4,793",$0,"$4,248","$22,295","$9,875","$3,535","$1,350","$4,566","$50,663","$10,694","$61,357"
New York,"$6,801",$0,"$4,380","$31,371","$3,925","$3,535","$1,559","$4,566","$56,138","$12,200","$68,338"
Niagara,"$4,222",$0,"$3,269","$10,081","$9,706","$3,535","$1,463","$4,566","$36,842","$7,027","$43,869"
Oneida,"$4,211",$0,"$3,662","$11,383","$9,497","$3,535","$1,563","$4,566","$38,417","$7,445","$45,862"
Onondaga,"$4,530",$0,"$3,714","$12,062","$9,629","$3,535","$1,398","$4,566","$39,435","$7,715","$47,150"
Ontario,"$4,485",$0,"$3,473","$12,754","$10,957","$3,535","$1,388","$4,566","$41,158","$8,172","$49,329"
Orange,"$4,370",$0,"$4,104","$16,102","$10,890","$3,535","$1,280","$4,566","$44,848","$9,151","$53,999"
Orleans,"$4,017",$0,"$3,269","$9,933","$11,442","$3,535","$1,624","$4,566","$38,387","$7,437","$45,823"
Oswego,"$4,062",$0,"$3,662","$10,661","$11,209","$3,535","$1,431","$4,566","$39,126","$7,633","$46,759"
Otsego,"$4,325",$0,"$3,662","$9,785","$10,308","$3,535","$1,559","$4,566","$37,741","$7,265","$45,006"
Putnam,"$4,930",$0,"$4,104","$26,839","$11,816","$3,535","$1,430","$4,566","$57,221","$12,600","$69,822"
Queens,"$4,633",$0,"$4,380","$28,178","$6,240","$3,535","$1,534","$4,566","$53,065","$11,332","$64,397"
Rensselaer,"$4,450",$0,"$3,658","$12,366","$10,048","$3,535","$1,516","$4,566","$40,139","$7,902","$48,041"
Richmond,"$4,633",$0,"$4,380","$24,853","$9,242","$3,535","$1,366","$4,566","$52,575","$11,202","$63,777"
Rockland,"$4,473",$0,"$4,380","$26,869","$9,932","$3,535","$1,259","$4,566","$55,013","$11,849","$66,862"
St. Lawrence,"$4,222",$0,"$3,662","$8,724","$10,512","$3,535","$1,498","$4,566","$36,720","$6,994","$43,714"
Saratoga,"$4,736",$0,"$3,658","$14,092","$10,741","$3,535","$1,516","$4,566","$42,844","$8,619","$51,463"
Schenectady,"$4,370",$0,"$3,658","$12,125","$9,963","$3,535","$1,516","$4,566","$39,734","$7,794","$47,528"
Schoharie,"$3,925",$0,"$3,658","$9,583","$11,724","$3,535","$1,565","$4,566","$38,557","$7,482","$46,039"
Schuyler,"$4,234",$0,"$3,714","$8,736","$10,867","$3,535","$1,413","$4,566","$37,066","$7,086","$44,152"
Seneca,"$3,960",$0,"$3,473","$9,881","$10,486","$3,535","$1,533","$4,566","$37,435","$7,184","$44,619"
Steuben,"$4,256",$0,"$3,714","$9,990","$10,292","$3,535","$1,413","$4,566","$37,767","$7,272","$45,039"
Suffolk,"$4,815",$0,"$4,248","$22,245","$11,137","$3,535","$1,537","$4,566","$52,083","$11,071","$63,155"
Sullivan,"$4,074",$0,"$4,104","$11,387","$10,730","$3,535","$1,598","$4,566","$39,995","$7,863","$47,858"
Tioga,"$4,348",$0,"$3,714","$10,472","$10,705","$3,535","$1,413","$4,566","$38,753","$7,534","$46,287"
Tompkins,"$4,930",$0,"$3,714","$15,906","$9,773","$3,535","$1,418","$4,566","$43,842","$8,884","$52,727"
Ulster,"$4,450",$0,"$4,104","$16,509","$10,693","$3,535","$1,450","$4,566","$45,307","$9,273","$54,581"
Warren,"$4,462",$0,"$3,658","$13,045","$10,658","$3,535","$1,591","$4,566","$41,516","$8,267","$49,782"
Washington,"$4,530",$0,"$3,658","$11,979","$11,373","$3,535","$1,591","$4,566","$41,233","$8,192","$49,425"
Wayne,"$4,108",$0,"$3,473","$10,522","$11,604","$3,535","$1,533","$4,566","$39,343","$7,690","$47,033"
Westchester,"$4,975",$0,"$4,380","$27,604","$9,315","$3,535","$1,377","$4,566","$55,753","$12,058","$67,811"
Wyoming,"$4,313",$0,"$3,269","$8,580","$11,383","$3,535","$1,431","$4,566","$37,077","$7,089","$44,167"
Yates,"$4,553",$0,"$3,473","$9,170","$11,819","$3,535","$1,413","$4,566","$38,530","$7,475","$46,005"