<center><img src="prog_lang.jpg" width=500></center>

How can you determine which programming languages and technologies are most widely used? Which languages are gaining or losing popularity, helping you decide where to focus your efforts?

One excellent data source is Stack Overflow, a programming question-and-answer site with more than 16 million questions on programming topics. Each Stack Overflow question is tagged with a label identifying its topic or technology. By counting the number of questions related to each technology, you can estimate the popularity of different programming languages.

In this project, you will use data from the Stack Exchange Data Explorer to examine the relative popularity of R compared to other programming languages.

You'll work with a dataset containing one observation per tag per year, including the number of questions for that tag and the total number of questions that year.

`stack_overflow_data.csv`
|Column|Description|
|------|-----------|
|`year`|The year the question was asked (2008-2020)|
|`tag`|A word or phrase that describes the topic of the question, such as the programming language|
|`num_questions`|The number of questions with a certain tag in that year|
|`year_total`|The total number of questions asked in that year|

In [19]:
# Load necessary packages
library(readr)
library(dplyr)
library(ggplot2)

In [20]:
# Load the dataset
data <- read_csv("stack_overflow_data.csv")

Rows: 420066 Columns: 4
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): tag
dbl (3): year, num_questions, year_total

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [21]:
# View the dataset
head(data)

  year tag             num_questions year_total
1 2008 treeview        69            168541
2 2008 scheduled-tasks 30            168541
3 2008 specifications  21            168541
4 2008 rendering       35            168541
5 2008 http-post        6            168541
6 2008 static-assert    1            168541

In [22]:
# Load necessary library
library(dplyr)

# Start coding here
# Use as many cells as you like!
data_per <- data %>%
  mutate(percentage = (num_questions / year_total) * 100)

r <- data_per %>%
  filter(tag == "r")

r2020 <- r %>%
  filter(year == "2020")

print(r2020)

# A tibble: 1 × 5
   year tag   num_questions year_total percentage
  <dbl> <chr>         <dbl>      <dbl>      <dbl>
1  2020 r             52662    5452545      0.966

In [23]:
tags <- data %>%
  filter(year >= 2015) %>% 
  group_by(tag) %>% 
  summarize(tag_total = sum(num_questions)) %>% 
  arrange(desc(tag_total))

highest_tags <- tags %>% 
  select(tag) %>% 
  head(n = 5)

print(highest_tags)

# A tibble: 5 × 1
  tag
  <chr>
1 javascript
2 python
3 java
4 android
5 c#